.table-layout-fixed {
    table-layout: fixed;
}

.column-fit {
    width: 1px;
}

#commentSection .comment-template,
#commentSection .no-comments-message:not(:first-child) {
    display: none;
}

/* Comment edit */
#commentSection .comment-save-row.edit-mode #submitNewComment,
#commentSection .comment-save-row:not(.edit-mode) #submitCommentEdit,
#commentSection .comment:not(.comment-editable) .comment-edit-btn {
    display: none;
}
